body, html, main {
    /* important */
    height: 100%;
    background-color: #56A0D3;
    font-family: Georgia, serif;
}


 
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("http://nestofsaws.com/boot/autologic/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("http://nestofsaws.com/boot/autologic/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/cd-background-4.jpg");
}
 
.cd-scrolling-bg {
    min-height: 100%;
}

.cd-color-2 {
	background-color: #56a0d3;
}
